// ===COLORS===
$color-black: #000;
$color-white: #fff;
$color-brown: brown;// brown
$color-dark-brown: darkbrown;// brown
$color-medium-green: #55c57a;
$color-sunflower: #f1c40f;
$color-sunflower-light-20: lighten($color-sunflower, 20%);
$color-sunflower-light-30: lighten($color-sunflower, 30%);
$color-sunflower-light-40: lighten($color-sunflower, 40%);
// ----
$color-primary: $color-medium-green;
//$color-border
//$color-background
//$color-background-alt
//$color-text
//$color-text-alt
// ===Typograhpy===
$base-font-size: 18px;
$base-line-height: $base-font-size * 1.5;
$base-font-family-sans: sans-serif;
$base-font-family-serif: serif;
$base-font-family-code: monospace;
$base-font-family-lato: 'Lato';
$base-font-family: $base-font-family-serif;
$base-headings-font-family: $base-font-family-serif;
$base-heading-sizes: (2, 1.5, 1.17, 1, 0.83, 0.67);

// ===Breakpoint===
$bp-small: 600px;
$bp-medium: 900px;
$bp-large: 1200px;

$breakpoints: (
	small: $bp-small,
	medium: $bp-medium,
	large: $bp-large 
);
