.c-search {
	margin-top: 5px;
	margin-right: 1rem;
	position: relative;
	&__input {
	 @include border-radius(3px);	
	 width: 100%;
	 margin: 0 10px;
	 padding: 5px;
	 font-family: inherit;
	 /*
	 width: 250px;
	 height: 32px;
	 */
	 border: 1px solid #aaa;
	 background-color: #fcfcfc;
	 @include box-shadow(0 0 3px #ccc, 0 10px 15px #ebebeb inset);
	 text-indent: 32px;
	}
	&__icon-search {
		position: absolute;
		padding: 5px;
		top: 4px;
		left: 10px;
		color: darken($color-sunflower, 15%);
	}
}
