.love-typography {
	position: relative;
	width: 1100px;
	padding: 100px 0 0;
	margin: 0 auto;
	font-size: 175px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -13px;
	color: #0caac7;
	transform: rotate(-20deg);
	&:first-letter {
		float: left;
		margin: -137px -20px 0 0;
		font-size: 880px;
		line-height: 595px;
		text-transform: lowercase;
	}
	&:first-line {
		font-size: 200px;
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		top: 225px;
		left: 120px;
		width: 75px;
		height: 50px;
		background: #000;
		transform: rotate(45deg);
		border-radius: 25px 0 0 30px;
	}
	&:before {

	}
	&:after {
		left: 138px;
		transform: rotate(-45deg);
		border-radius: 0 25px 30px 0;
	}
	strong {
		display: block;
		margin: -80px 0 0;
		font-weight: normal;
		letter-spacing: -2px;
		text-transform: capitalize;
		&:first-letter {
			margin-right: -30px;
			color: #fff;
		}
		&:before {
			content: "";
			position: absolute;
			z-index: 11;
			top: 205px;
			left: 341px;
			width: 7px;
			height: 7px;
			background: #000;
			border-radius: 7px;
		}

	}
	em {
		position: absolute;
		z-index: 10;
		top: 100px;
		left: 147px;
		width: 136px;
		overflow: hidden;
		padding-left: 64px;
		font-size: 200px;
		font-style: normal;
		text-transform: lowercase;
		color: #fff;
		&:first-letter {
			float: left;
			margin: 130px 0 0 -55px;
			font-size: 80px;
			font-style: italic;
			line-height: 20px;
			color: #fff;
		}

	}

}
