.main-nav {
	//background-color: darken($color-medium-green, 10%);
	@include box-shadow(0 0 .3rem rgba($color-black, .15));
	@include clearfix();
	//@include border-radius(5px);
	padding: 5px;
	a {
		color: lighten($color-medium-green, 35%);
		text-decoration: none;
	}
	&__brand {
		float: left;	
	}
	&__list {
		float: right;
	}
	&__item {
		list-style: none;	
		float: left;
		margin-left: 1rem;
		line-height: 2rem;
		&:last-child {
			margin-right: 1rem;
		}
	}
	&__link {
		color: lighten($color-medium-green, 35%);
		text-decoration: none;	
		&:hover {
			color: lighten($color-sunflower, 20%);	
		}
	}	
}
