.main-nav {
	//background-color: darken($color-medium-green, 10%);
	@include box-shadow(0 0 .3rem rgba($color-black, .15));
	padding: 5px;
	@include respond-to() {
		@include clearfix;
	}
	a {
		color: lighten($color-medium-green, 35%);
		text-decoration: none;
	}
	&__left {
		@include respond-to() {
			float: left;
		}
	}
	&__right {
		@include respond-to() {
			float: right;
		}
	}
	&__brand {
		margin: 10px;
		text-align: center;
		@include respond-to() {
			text-align: left;
			margin: 20px auto;
		}
		a {
			color: $color-sunflower-light-20;
			font-size: 1.6rem;
			font-weight: 300;
			@include respond-to() {
				font-size: 3em;
			}
		}
	}
	&__search {
	}
	&__list {
	}
	&__item {
		@include respond-to() {
			float: left;
			margin-right: 1rem;
		}
		list-style: none;	
	}
	&__link {
		color: lighten($color-medium-green, 35%);
		text-decoration: none;	
		&:hover {
			color: lighten($color-sunflower, 20%);	
		}
	}	
}
